<h3 mat-dialog-title class="text-lg font-semibold p-5 text-center">
  ¿Eliminar Lote?
</h3>

<div mat-dialog-content class="px-5 pb-4">
  <p>
    ¿Estás seguro que deseas eliminar el lote
    <strong>{{ data.batchNumber }}</strong
    >?
  </p>
</div>

<div class="!flex !justify-end !gap-4 my-5">
  <button
    mat-button
    (click)="onCancel()"
    color="warn"
    class="!w-full !sm:w-auto"
  >
    Cancelar
  </button>
  <button
    mat-button
    (click)="onConfirm()"
    color="primary"
    class="!w-full !sm:w-auto"
  >
    Eliminar
  </button>
</div>
