<h3 class="!text-lg !font-semibold !mb-4 p-5 !text-center">
  Agregar Producto nuevo
</h3>

<mat-form-field appearance="fill">
  <mat-label>Nombre</mat-label>
  <input matInput [(ngModel)]="data.name" required />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Descripción</mat-label>
  <input matInput [(ngModel)]="data.description" required />
</mat-form-field>

<mat-form-field appearance="fill" class="w-full mb-4">
  <mat-label>Estado</mat-label>
  <mat-select [(ngModel)]="data.isActive">
    <mat-option [value]="true">Activo</mat-option>
    <mat-option [value]="false">Inactivo</mat-option>
  </mat-select>
</mat-form-field>

<div class="!flex !justify-end !gap-4 my-5">
  <button mat-button (click)="close()" color="warn" class="!w-full !sm:w-auto">
    Cancelar
  </button>
  <button
    mat-button
    (click)="save()"
    color="primary"
    class="!w-full !sm:w-auto"
  >
    Guardar
  </button>
</div>
